//----------------------------------------------
//              Basic Styles
//----------------------------------------------

/**
*	Box Model Setup
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, button {
  color: color-list('text-dark');
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: color-list("primary");
  background: -webkit-linear-gradient(to right, color-list("primary-gradient"), color-list("primary")); 
  background: linear-gradient(to right, color-list("primary-gradient"), color-list("primary")); 
}

input {
  padding: 0.4em;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

button {
  &:hover {
    cursor: pointer;
  }
  padding: 0.4em 0.8em;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-body {
  min-height: 92%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  .memes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .basic-landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    
    img {
      width: 80%;
      max-width: 538px;
      height: auto;
    }
  }
}




/* Creates a Red Btn with White Text */
.red-btn {
  background-color: color-list("accent");
  color: color-list("text-light");
}

/* Creates a larger Red Btn with White Text */
.meme-btn {
  margin-left: 12px;
  background-color: color-list("accent");
  color: color-list("text-light");
  font-weight: 700;
  font-size: 16px;
  @include media("<extra", ">large"){
    margin-left: 10px;
    font-size: 14px;
  }

  @include media("<desktop", ">large"){
    margin-left: 8px;
    font-size: 12px;
  }
}

/* Creates a Gray Btn with White Text */
.log-btn {
  margin: 0 12px;
  padding: 0.4em 0.4em;
  border-radius: 4px;
  border: none;
  background-color: color-list("text-muted");
  color: color-list("text-dark");
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;

  @include media("<extra", ">large"){
    margin-left: 10px;
    font-size: 14px;
  }

  @include media("<desktop", ">large"){
    margin-left: 8px;
    font-size: 12px;
  }
}

/* Creates a Light Btn with White Text */
.meme-display-btn {
  width: 80px;
}