.signup {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.signup > h2 {
  margin-top: 0;
  font-size: 2.5rem;
}

.signup > section {
  padding: 40px 40px 40px 40px;
  margin-top: 40px;
  background-color: #44bba4;
}

.signup > h3,
.signup > p {
  text-align: left;
}

.largeLogo {
  width: 80%;
  max-width: 538px;
  height: auto;
}
