.header {
  .desktop-header {
    height: 8%;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    @include media("<tablet") {
      height: 12%;
      min-height: 140px;
    }
    @include media("<tablet") {
      display: none;
    }

    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;

      @include media("<tablet") {
        display: none;
      }

      h3 {
        padding-right: 24px;
        color: color-list("text-light");

        @include media(">tablet", "<desktop") {
          margin-left: 12px;
        }
      }
    }

    .header-right {
      width: 70%;
      display: flex;
      justify-content: flex-end;
      @include media("<tablet") {
        display: none;
      }
    }
  }

  .mobile-header {
    display: none;

    @include media("<tablet") {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .mobile-header-row {
      @include media("<tablet") {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50%;
      }

      h3 {
        @include media("<tablet") {
          margin: 0;
          padding-right: 24px;
          color: color-list("text-light");
        }
      }
    }
  }
}
