.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(121, 121, 121, 0.6);
  height: 100%;
  width: 100%;
}

.add-image-modal {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 400px;
  background-color: white;
  animation: slideInTop 0.75s ease both;
}

.add-image-modal > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100px);
  }
}