.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(121, 121, 121, 0.6);
  height: 100%;
  width: 100%;
}

.add-image-modal {
  position: relative;
  margin: 0 auto;
  padding: 1em 3em;
  width: 400px;
  background-color: white;
  border-radius: 4px;
  animation: slideInTop 0.8s ease both;
}

.add-image-modal > h2 {
  text-align: center;
}

.add-image-modal > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-image-modal > form > input {
  margin-bottom: 12px;
  width: 100%;
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(120px);
  }
}
