.meme-display {
  position: relative;
  width: 220px;
  max-height: 70%;
  padding: 12px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
}

.meme-display > a > img {
  height: 220px;
  width: 220px;
  object-fit: contain;
}

.meme-display > input {
  margin: 0.75em 0;
  line-height: 20px;
  font-size: 16px;
}

.meme-display > .btn-box {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 8px;
}

.meme-display-btn {
  width: 80px;
}

.tag-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 40px 0;
}

.tag-boxes > .tag-item {
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  background-color: #2075b9;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .meme-display {
    max-height: unset
  }
}