.filter-selectors {
  display: flex;
  align-items: center;
  select {
    padding: 0.2em 0.4em;
    font-size: 20px;
    border-radius: 4px;
    width: 200px;
    margin: 10px 12px;

    @include themify($themes) {
      background-color: themed("selectBackground");
      border: 1px solid themed("selectBorder");
      color: themed("selectText");
    }

    @include media("<large") {
      width: 125px;
      font-size: 16px;
    }

    option {
      padding: 0.2em 0.4em;
    }
  }
}
