.filter-selectors {
  display: flex;
  align-items: center;
  select {
    padding: 0.2em 0.4em;
    font-size: 16px;
    border-radius: 4px;
    width: 125px;
    margin: 10px 12px;

    option {
      padding: 0.2em 0.4em;
    }
  }
}
